#predictor.predictor {
	max-width : 300px;
	height : 250px;
	position : relative;
	margin : auto;
	/*delete when done*/
	border : 1px solid black;
	background : white;
}
#predictor .fixture {
	position : absolute;
	height : 140px;
	width : 100%;
	font-weight : bold;
	/*delete when done*/
}
#predictor .fixture span {
	position : absolute;
	margin : auto;
	width : 20%;
	top : 45px;
	left : 0;
	right : 0;
	margin : auto;
	line-height : 50px;
	vertical-align : center;
	text-align : center;
	color : #c8c8c8;
}
#predictor a.statslink {
	display : block;
	position : absolute;
	top : 15px;
	left : 0;
	right : 0;
	width : 20%;
	padding-top : 20px;
	font-size : 8px;
	line-height : 8px;
	text-transform : uppercase;
	text-decoration : none;
	margin : auto;
	background : url("statistics.png") top center no-repeat;
	text-align : center;

}
#predictor .home ,#predictor .away {
	position : absolute;
	top : 12px;
	overflow : hidden;
	width : 90px;
	height : 30px;
	padding-top : 90px;
	text-align : center;
}
#predictor .home {
	left : 12px;
}
#predictor .away {
	right : 12px;
}
#badge_MNU {
	background-image : url("images/MNU.png");
	background-repeat : no-repeat;
}
#badge_STO {
	background-image : url("images/STO.png");
	background-repeat : no-repeat;
}
.prediction {
	position : absolute;
	width : 100%;
	height : 110px;
	margin : auto;
	overflow : hidden;
	top : 140px;
	left : 0;

}

#predictor .select-result{
	position : absolute;
	padding-top : 18px;
	background : url("votes_so_far.png") top center no-repeat;
	width : 100%;
}
#predictor .select-result div{
	width : 31%;
	margin : 1%;
	float : left;
}
#predictor .select-result label {
	display : block;
	background : #f0f0f0;
	color : #a3a3a3;
	text-align : center;
	width : 60%;
	margin : auto;
	padding : 3%;
	border-radius : 6px 6px 0 0;
}
#predictor button {
	display : block;
	border-radius: 6px;
	font-size: 17px;
	padding: 10% 19%;
	text-align : center;
	margin : auto;
	background : #54da68;
	border : solid #54da68;
	text-transform : uppercase;
	color : #fff;
	font-weight : bold;
	cursor : pointer;
}
#predictor .select-result button {
	width : 90%;
}
#predictor .select-score ,#predictor .result-selected {
	position : absolute;
	width : 100%;
	height : 100%;
	opacity : 0;
	left : 100%;
	text-align : center;
}
/*.select-score
{
	position : absolute;
	width : 100%;
	height : 100%;
	opacity : 0;
	left : 100%;
}*/
#predictor .select-score button ,#predictor .result-selected button {
	height : 44px;
	padding : 9px;
	width : 40%;
}
#predictor .select-score button {
	margin-top : 50px;
}
#predictor .result-selected .result {
	font-weight : bold;
	font-size : 1.3em;
}
#predictor .result-selected button {
	width : 80%;
	margin-top : 8px;
}
#predictor .result-selected .scoreAction {
	float : left;
	width : 48%;
	font-size : 11px;
	padding : 1%;
}
#predictor .select-score .home , #predictor .select-score .away {
	padding : 0;
}
#predictor .stats {
	clear : both;
	display : none;
	background : #fff;
	position : absolute;
	top : 250px;
	left : -1px;
	width : 100%;
	margin : 0;
	border-left : 1px solid black;
	border-right : 1px solid black;
	border-bottom : 1px solid black;
}
#predictor .stats .legend {
	width : 70%;
}
#predictor .stats .team_record {
	text-align : left;
	text-transform : uppercase;
}
#predictor .stats th{
	text-align : left;	
	font-size : 0.9em;
}
#predictor .stats td{
	font-size : 0.8em;
	overflow : hidden;
}
